/* ### CUSTOM PROPERTIES ### */

:root {
  /* primary */
  --primary-green-500: hsl(171, 66%, 44%);
  --primary-blue-100: hsl(233, 100%, 69%);

  /* neutral */
  --neutral-gray-700: hsl(210, 10%, 33%);
  --neutral-gray-500: hsl(201, 11%, 66%);

  /* typography */
  --ff-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a.btn,
footer a {
  color: inherit;
  text-decoration: none;
}

/* ### UTILITY CLASSES ### */

.center {
  width: var(--width, 90%);
  max-width: var(--max-width, 900px);
  margin-inline: auto;
  text-align: center;
}

a.btn {
  background-color: var(--bg-btn);
  display: inline-block;
  padding: 0.7em 1em;
  color: white;
  font-weight: var(--fw-600);
  border-radius: 200px;
}

/* ### GENERAL STYLING ### */

h1,
h2,
h3 {
  color: var(--neutral-gray-700);
  font-weight: var(--fw-600);
}

h1 {
  font-size: 1.8rem;
}

.subtitle,
p {
  line-height: 1.6;
  font-size: 0.935rem;
}

body {
  font-family: var(--ff-bai-jamjuree);
  font-weight: var(--fw-400);
  font-size: 1.125rem;
  color: var(--neutral-gray-500);
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
}

@media (min-width: 23.438em) {
  body {
    background-image: url(./images/bg-header-desktop.png);
    background-size: contain;
  }
}

/* ### MAIN ### */

main {
  padding: 8rem 1.775rem;
}

/* ## HERO SECTION ## */

.hero-section img {
  margin-inline: auto;
}

.hero-section h1 {
  margin-top: 4rem;
}

.hero-section .subtitle {
  margin-top: 1rem;
}

.btn-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ios-btn {
  --bg-btn: var(--primary-green-500);
  box-shadow: 0px 3px hsl(171, 68%, 33%);
  /* filter: drop-shadow(0px 2px 6px var(--primary-green-500)); */
}

.mac-btn {
  --bg-btn: var(--primary-blue-100);
  box-shadow: 0px 3px hsl(233, 46%, 45%);
  /* filter: drop-shadow(0px 2px 6px var(--primary-blue-100)); */
}

/* ## SNIPPETS SECTION ## */

.snippets-section {
  margin-top: 10rem;
}

.snippets-section .subtitle {
  margin-top: 1rem;
  font-size: 0.935rem;
}

.floating-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.snippets-container {
  text-align: center;
}

.snippets-container > li + li {
  margin-top: 3rem;
}

.snippets-container li > p {
  margin-top: 0.8rem;
}

/* ## CLIPBOARD SECTION ## */

.clipboard-section {
  margin-top: 10rem;
}

.clipboard-section img {
  margin-top: 3.5rem;
}
